@charset "utf-8";

/* her begynder mobil */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C0C0C0;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*jeg laver et grid*/
}

header {
  grid-column: 2 / 4;
  margin-top: 4px;
}

header img {
  width: 100%;
}

main {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#h1 {
  grid-column: 2 / 4;
  padding-top: 8px;
  margin-bottom: 4px;
  text-align: center;
}

#description {
  grid-column: 1 / 5;
  line-height: 1.6;
  margin-left: 8px;
  padding-left: 8px;
  margin-right: 4px;
  display: none;
  /*description får her display none for at kunne lave glidefuntionen*/
}

#intro {
  color: #fff;
  grid-column: 1 / 5;
  line-height: 1.6;
  margin-left: 8px;
  padding-left: 8px;
  margin-top: 6px;
}

.info {
  grid-column: 2 / 4;
  text-align: center;
  margin-top: 3px;
  color: #fff;
  line-height: 1.6;
}

.button {
  background-color: #2c226b;
  border-radius: 10px;
  border: 1px solid #000;
  text-decoration: none;
    /*text-decoration none indsættes for at undgå understregning i linket der fører ind til hjemmesiden*/
  color: #fff;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 7px;
}

footer {
  background-color: #000;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  color: #fff;
  text-align: center;
  height: 100%;
  margin-top: 100px;
  width: 100%;
  font-size: 1em;
}

h4 {
  margin-bottom: 20px;
  margin-top: 10px;
  color: #fff;
  text-align: left;

}

#h4 {
  margin-bottom: 20px;
  margin-top: 10px;
  color: #fff;
  text-align: left;
}

#section1 {
  text-align: left;
  grid-column: 1 / 2;
  line-height: 2;
  padding-left: 12px;
  margin-left: 12px;
}

#section2 {
  grid-column: 2 / 3;
  line-height: 2;
  text-align: center;
}

#section3 {
  grid-column: 3 / 5;
  line-height: 2;
  text-align: left;
  padding-right: 7px;
}

@media only screen and (min-width:700px) {

  /*her begynder desktop*/
  #wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* der laves grid*/
  }

  header {
    grid-column: 6 / 8;
    margin-top: 4px;
  }

  header img {
    width: 100%;
  }

  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
  }

  #h1 {
    grid-column: 6 / 8;
    padding-top: 8px;
    margin-bottom: 4px;
    text-align: center;
  }

  #description {
    grid-column: 4 / 10;
    line-height: 1.6;
    margin-left: 8px;
    padding-left: 8px;
    margin-right: 2px;
    display: none;
    /*description får her display none for at kunne lave glidefuntionen*/
  }

  #intro {
    color: #fff;
    grid-column: 4 / 10;
    line-height: 1.6;
    margin-top: 4px;
    padding-top: 4px;
  }

  .info {
    grid-column: 6 / 8;
    text-align: center;
    margin-top: 3px;
    color: #fff;
    line-height: 1.6;
  }

  .button {
    background-color: #2c226b;
    border-radius: 14px;
    border: 1px solid #000;
    text-decoration: none;
    /*text-decoration none indsættes for at undgå understregning i linket der fører ind til hjemmesiden*/
    color: #fff;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 7px;
    opacity: 0.8;
    /*knappens opacity sættes til 0.8*/
    transition-duration: 04ms;
    cursor: pointer;
  }

  .button:hover {
    opacity: 1;
    /*knappens opacity sæættes her op til 1, når man svæver henover med den med musen*/
  }

  h4 {
    margin-bottom: 20px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
    left: 5px;
  }

  /* der laves særskilt styling af #h4 for at få den placeret præcist,hvor jeg vil have den*/
  #h4 {
    margin-bottom: 20px;
    margin-top: 15px;
    color: #fff;
    text-align: left;
    margin-right: 20px;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
    background-color: #000000;
    color: #fff;
    text-align: center;
    height: 100%;
    margin-top: 100px;
    width: 100%;
    font-size: 1em;
  }

  #section1 {
    grid-column: 3 / 6;
    text-align: left;
    line-height: 2;
    padding-left: 6px;
    margin-left: 6px;
  }

  #section2 {
    grid-column: 6 / 8;
    line-height: 2;
    text-align: center;
  }

  #section3 {
    grid-column: 9 / 12;
    line-height: 2;
    text-align: center;
  }
}
